/* Global styles */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(48, 45, 66);
  }
  
 .body {
    justify-content: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main{
    text-align-last: center;
  }

  h3{
    color: aliceblue;
  }
  h1{
    color: aliceblue;
  }
